In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import copy

In [5]:
df_raw = pd.read_csv('houseprice_hw.csv')
df_raw.head()

,Unnamed: 0,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice
0,0,7,2003,2003,856,856,1710,2,8,2,548,208500
1,1,6,1976,1976,1262,1262,1262,2,6,2,460,181500
2,2,7,2001,2002,920,920,1786,2,6,2,608,223500
3,3,7,1915,1970,756,961,1717,1,7,3,642,140000
4,4,8,2000,2000,1145,1145,2198,2,9,3,836,250000

In [6]:
df_raw.isnull().sum()

Unnamed: 0      0
OverallQual     0
YearBuilt       0
YearRemodAdd    0
TotalBsmtSF     0
1stFlrSF        0
GrLivArea       0
FullBath        0
TotRmsAbvGrd    0
GarageCars      0
GarageArea      0
SalePrice       0
dtype: int64

## 목표 레이블 : SalePrice

### exersise1. corr(), scatter을 이용해서 가장 상관관계가 큰 2개의 특성만 골라보기

In [ ]:
## code here!

### 퍼셉트론 알고리즘으로 모델 학습시키기.

hint! numpy배열을 함수의 인자로 하고, df는 함수의 인자로 받지 않으니깐, values를 이용해서 df의 값만 넣어주자.

df에 표준화를 하고, 학습시키는것을 권장. 

!!**주의**!! : 나중에 임의의 값 예측하기 위해서는 사용했던 표준화함수로 내가 넣고싶은값을 다시 표준화 해야함!!

model.predict(df_X, df_Y) (x)

model.predict(df_X.value, df_Y.value) (x)

In [ ]:
## 예측하고나서, 3개정도의 값을 임의의로 넣어서 예측결과 출력해보시오!
## code here!

### 아달린 알고리즘으로 모델 학습시키기.

값 그 자체를 손실함수로 한다. -> 표준화하지 않고 그대로 값을 대입해야한다.

In [ ]:
## 예측하고나서, 3개정도의 값을 임의의로 넣어서 예측결과 출력해보시오!
## code here!

### 로지스틱 알고리즘 모델 학습시키기.

전처리-훈련 모든과정이 퍼셉트론과 (아직은)완벽히 일치한다! (물런 모델 훈련 내부과정은 다르다.)

In [ ]:
## 예측하고나서, 3개정도의 값을 임의의로 넣어서 예측결과 출력해보시오!
## code here!

## 이론 Quiz

### 왜 아달린 알고리즘(회귀) 에서는 로지스틱, 퍼셉트론 (분류) 데이터셋에 표준화를 하지 않을까? 

간단히 설명하시오.
.

.

참고:
#### 표준화란? 표준화는 데이터를 일정한 범위로 맞추기 위해 평균이 0, 표준편차가 1이 되도록 변환하는 과정

공식: $$ z = \frac{x - \mu}{\sigma} $$

예시

표준화 전: x=[10,20,30,40,50]

x -> 표준화함수Std() -> z

표준화 후: z=[−1.41,−0.71,0,0.71,1.41]